<h2>{{friend.name}}</h2>

{{#if viewingOwnPage}}
<p>This is you!! wow {{myName}}</p>
{{/if}}

<div class="bubble-wrapper">
	{{#each friend.receivedMessages}}
		<span class="emoji-bubble">{{this.emojiMessage}}<span>From: {{this.from.name}},<br>{{this.timeStamp}}</span></span>
	{{/each}}
</div>

<input id="emoji-field" placeholder="emoji" />
<button type="submit" id="send-emoji">Submit</button>