<h1>{{friend.name}}</h1>
<p>Favorite emoji: {{friend.favoriteEmoji}}</p>

{{#if viewingOwnPage}}
<p>This is you!! wow {{myId}}</p>
{{/if}}

<div class="bubble-wrapper">
	{{#each messages}}
		<span class="emoji-bubble">{{this.emojiMessage}}<span>From: {{this.from}},<br>{{this.timeStamp}}</span></span>
	{{/each}}
</div>

<input id="emoji-field" placeholder="emoji" />
<button type="submit" id="send-emoji">Submit</button>